.resto-type {
    padding-inline-end: .8rem;
    margin-inline-end: .5rem;
    position: relative;
    line-height: 1.5em;

    &:not(:last-child)::after {
        content: '-';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}