<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>Convertisseur de monnaie</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Convertisseur de monnaie</ion-title>
		</ion-toolbar>
	</ion-header>

	<form [formGroup]="form">
		<ion-list>
			<ion-item>
				<ion-input label="Montant" formControlName="montant"></ion-input>
			</ion-item>
			<ion-item>
				<ion-select label="Choisir la conversion" formControlName="convert">
					<ion-select-option [value]="true">EUR -> CNY</ion-select-option>
					<ion-select-option [value]="false">CNY -> EUR</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-button (click)="submitForm()">Convertir</ion-button>
			</ion-item>
		</ion-list>
	</form>

	<div class="result-content">
		<p [innerHTML]="result + currency"></p>
	</div>
	

</ion-content>